## String Based Assignment Problem :

1. Write a program to reverse a string.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
reverse_string = input_string[::-1] # Reversing the string 
print(reverse_string) # Printing the reversed string

2. Check if a string is a palindrome.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
lower_string = input_string.lower() # Converting the input string to lower case
modified_string = ""
for i in lower_string:
    if i.isalnum():
        modified_string += i # Removing spaces and punctuation from the string
reverse_string = modified_string[::-1]
if modified_string == reverse_string: # Checking if the string is palindrome or not
    print("The string is palindrome")
else:
    print("The string is not palindrome")

3. Convert a string to uppercase.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
uppercase_string = input_string.upper() # Converting it to uppercase
print("Uppercase string is :", uppercase_string) # Printing the uppercase string

4. Convert a string to lowercase.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
lowercase_string = input_string.lower() # Converting it to lowercase
print("Lowercase string is :", lowercase_string) # Printing the lowercase string

5. Count the number of vowels in a string.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
modified_string = input_string.lower() # Converting it to lowercase
vowels = 'a','e','i','o','u' # Initializing the vowels
count = 0 # Initializing count variable with 0
for i in modified_string: 
    if i in vowels: # Checking the character is vowel or not
        count += 1 # Increasing the count variable with 1 if the character is vowel
print("Number of vowels in the string is :", count) # Printing the number of vowels in the string

6. Count the number of consonants in a string.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
modified_string = input_string.lower() # Converting it to lowercase
consonant = "bcdfghjklmnpqrstvwxyz" # Initializing the consonants
count = 0 # Initializing count variable with 0
for i in modified_string: 
    if i in consonant: # Checking the character is consonant or not
        count += 1 # Increasing the count variable with 1 if the character is consonant 
print("Number of consonants in the string is :", count) # Printing the number of consonants in the string

7. Remove all whitespaces from a string.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
modified_string = "" # Initializing an empty string
for i in input_string:
    if i != " ": # Checking if the character is whitespace or not
        modified_string += i # If the character is not whitespace then adding it to the result string
print(modified_string) # Printing the result string after removing all whitespaces

8. Find the length of a string without using the `len()` function.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
count = 0 # Initializing the count variable with 0
for i in input_string:
    count += 1 # For each iteration adding 1 to the count variable
print ("The length of the string is :", count) # Printing the length of the string

9. Check if a string contains a specific word.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
specific_word = input("Enter a specific word :") # Taking a specific word as input 
if specific_word in input_string: # Checking if the specific word present in the string or not
    print("The string contains the specific word") # Printing the result
else:
    print("The string does not contain the specific word")

10. Replace a word in a string with another word.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
first_word = input("Enter a word you want to replace :") # Taking the word which is going to be replaced 
another_word = input("Enter a new word :") # Taking the new word
modified_string = input_string.replace(first_word, another_word) # Replacing the old word with the new word
print("The string after replacing the new word is :", modified_string) # Printing the string after replacing the word

11. Count the occurrences of a word in a string.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
input_word = input("Enter a word :") # Taking the specific word 
modified_string = input_string.split() # Splitting the words of the string
count = 0 # Initializing count variable with 0
for i in modified_string: 
    if i == input_word: # Checking if the word is matching with the specific word or not 
        count += 1 # If the word matches then adding 1 to the count variable
print("The occurrences of the word in the string is :", count) # Printing the occurrences of the word in the string

12. Find the first occurrence of a word in a string.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
input_word = input("Enter a word :") # Taking the specific word
index = input_string.find(input_word) # Checking the first occurrence of the word
print("Index of the first occurance of the word is :", index) # Printing the index of the first occurrence of the word

13. Find the last occurrence of a word in a string.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
input_word = input("Enter a word :") # Taking the specific word
index = input_string.rfind(input_word) # Checking the last occurrence of the word
print("Index of the last occurance of the word is :", index) # Printing the index of the last occurrence of the word

14. Split a string into a list of words.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
list_of_words = input_string.split() # Splitting the string into a list of words
print("The list of the words :",list_of_words) # Printing the list of the words

15. Join a list of words into a string.

In [ ]:
list_of_words = ['I', 'am', 'doing', 'python', 'programming'] # Creating a list of words
string = " ".join(list_of_words) # Joining the words into a string
print("The joined string is  :",string) # Printing the joined string

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
modified_string = input_string.replace(" ", "_") # Replacing spaces with underscores
print("Updated string is :", modified_string) # Printing the string which is separated by underscores

17. Check if a string starts with a specific word or phrase.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
input_word = input("Enter a specific word :") # Taking a specific word
start = input_string.startswith(input_word) # Checking if the string starts with the specific word or not
if start:
    print("The string starts with the specific word") # Printing the results
else:
    print("The string does not start with the specific word")

18. Check if a string ends with a specific word or phrase.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
input_word = input("Enter a specific word :") # Taking a specific word
end = input_string.endswith(input_word) # Checking if the string ends with the specific word or not
if end:
    print("The string ends with the specific word") # Printing the results
else:
    print("The string does not end with the specific word")

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
title_string = input_string.title() # Converting the string to title case string
print("Title case string is :",title_string) # Printing the string with title case

20. Find the longest word in a string.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
max_length = 0 # Initializing max_length variable with 0
longest_word = "" # Initializing longest_word variable with an empty string
list_of_words = input_string.split() # Splitting the input string to list of words
for i in list_of_words: # Iterating through the list of words
    if len(i) > max_length: # Checking if the length of the word is greater than the value max_length or not
        max_length = len(i) # Updating max_length variable with the current length of the word
        longest_word = i # Storing the word in the longest_word variable
print("The longest word in the string is :",longest_word) # Printing the longest word of the string

21. Find the shortest word in a string.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
list_of_words = input_string.split() # Splitting the input_string to list of words
min_length = float('inf') # Initializing the min_length variable with maximum value
shortest_word = "" # Initializing the shortest_word variable with an empty string
for i in list_of_words: # Iterating throuth the list of words
    if len(i) < min_length: # Checking if the length of the word is smaller than the value of the min_length or not
        min_length = len(i) # Updating min_length variable with the current length of the word
        shortest_word = i # Storing the word in the shortest_word variable
print("The shortest word in the string is :",shortest_word) # Printing the shortest word of the string

22. Reverse the order of words in a string.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
list_of_words = input_string.split() # Splitting the input string to list of words
list_of_reversed_words = list_of_words[::-1] # Reversing the order of the list of words
updated_list_of_words = [] # Initializing updated_list_of_words variable with an empty list
for i in list_of_reversed_words: # Iterating through the reversed list of words
    updated_list_of_words.append(i) # Appending the words in the empty list
    reversed_order_string = " ".join(updated_list_of_words) # Converting the list of words to a string
print("The reversed order string is :",reversed_order_string) # Printing the string which is reversed by the order of words

23. Check if a string is alphanumeric.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
output_string = input_string.isalnum() # Checking if the input string is alphanumeric or not using isalnum() function
if output_string:
    print("The string is alphanumeric") # Printing the output
else:
    print("The string is not alphanumeric")

24. Extract all digits from a string.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
output_string = "" # Initializing output_string variable with an empty string
for i in input_string: # Iterating through each character of the input string
    if i.isdigit(): # Checking if the character is a digit or not
        output_string += i # If it is a digit then adding it in the output_string variable
print("All digits from the string are :",output_string) # Printing all the digits of the string

25. Extract all alphabets from a string.

In [ ]:
input_string = input("Enter a string :") # Taking a string as input
output_string = "" # Initializing output_string variable with an empty string
for i in input_string: # Iterating through each character of the input string
    if i.isalpha(): # Checking if the character is an alphabet or not
        output_string += i # If it is an alphabet then adding it in the output_string variable
print("All the alphabets from the string are :",output_string) # Printing all the alphabets of the string

26. Count the number of uppercase letters in a string.

In [ ]:
input_string = input("Enter a string :")
count = 0
for i in input_string:
    uppercase = i.isupper()
    if uppercase:
        count += 1
print("Count of uppercase letters in the string is :",count)

27. Count the number of lowercase letters in a string.

In [ ]:
input_string = input("Enter a string :")
count = 0
for i in input_string:
    lowercase = i.islower()
    if lowercase:
        count += 1
print("Count of lowercase letters in the string is :",count)

28. Swap the case of each character in a string.

In [ ]:
input_string = input("Enter a string :")
output_string = ""
for i in input_string:
    if i.islower():
        output_string += i.upper()
    else:
        output_string += i.lower()
print(output_string)

29. Remove a specific word from a string.

In [ ]:
input_string = input("Enter a string :")
input_word = input("Enter a word :")
output_string = []
modified_string = input_string.split()
for i in modified_string:
    if i == input_word:
        continue
    else:
        output_string.append(i)
print("The string after removing the specific word is :"," ".join(output_string))

30. Check if a string is a valid email address.

In [ ]:
import re

string = input("Enter a string :")
pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
if re.match(pattern,email):
    print("This is a valid email address")
else:
    print("This is an invalid email address")

31. Extract the username from an email address string.

In [ ]:
email = input("Enter an email :")
result = ""
for i in email:
    if i == '@':
        break
    else:
        result += i
print("Username of the email address is :",result)

32. Extract the domain name from an email address string.

In [ ]:
email = input("Enter an email :")
result = email.split('@')
print("Domain name of the email address is :",result[1])

33. Replace multiple spaces in a string with a single space.

In [ ]:
input_string = input("Enter a string :")
modified_string = input_string.split()
output_string = " ".join(modified_string)
print(output_string)

34. Check if a string is a valid URL.

In [ ]:
from urllib.parse import urlparse

string = input("Enter a string :")
result = urlparse(string)
if result.scheme and result.netloc:
    print("This is a valid URL")
else:
    print("This is an invalid URL")

35. Extract the protocol (http or https) from a URL string.

In [ ]:
url = input("Enter a URL :")
find_protocol = url.find("://")
if find_protocol != -1:
    protocol = url[:find_protocol]
    print(protocol)
else:
    print("Protocol not found")

36. Find the frequency of each character in a string.

In [ ]:
input_string = input("Enter a string :")
count_dict = {}
for i in input_string:    
    if i in count_dict:
        count_dict[i] += 1
    else:
        count_dict[i] = 1
for char,count in count_dict.items():
    print("Character :",char,"Count :",count)

37. Remove all punctuation from a string.

In [ ]:
import string
input_string = input("Enter a string :")
output_string = ""
for i in input_string :
    if i in string.punctuation:
        continue
    else:
        output_string += i
print("The string after removing punctuation :",output_string)

38. Check if a string contains only digits.

In [ ]:
input_string = input("Enter a string :")
result = input_string.isdigit()
if result:
    print("String contains only digits")
else:
    print("String does not contain only digits")

39. Check if a string contains only alphabets.

In [ ]:
input_string = input("Enter a string :")
result = input_string.isalpha()
if result:
    print("String contains only alphabets")
else:
    print("String does not contain only alphabets")

40. Convert a string to a list of characters.

In [ ]:
input_string = input("Enter a string :")
list_of_characters = []
for i in input_string:
    list_of_characters.append(i)
print(list_of_characters)

41. Check if two strings are anagrams.

In [ ]:
input_string1 = input("Enter first string :")
input_string2 = input("Enter second string :")
modified_string1 = input_string1.lower()
modified_string2 = input_string2.lower()
if sorted(modified_string1) == sorted(modified_string2):
    print(f"{input_string1} and {input_string2} are anagrams")
else:
    print(f"{input_string1} and {input_string2} are not anagrams")

42. Encode a string using a Caesar cipher.

In [ ]:
string = input("Enter a string :")
shift = int(input("Enter the number of positions to be shifted :"))
encoded_text = ""
for i in string:
    if i.isalpha():
        encoded_char = chr((ord(i) + shift - ord('a')) % 26 + ord('a'))
    else:
        encoded_char = i
    encoded_text += encoded_char   
print("Encoded text :",encoded_text)

43. Decode a Caesar cipher encoded string.

In [ ]:
string = input("Enter a string :")
shift = int(input("Enter the number of positions to be shifted :"))
decoded_text = ""
for i in string:
    if i.isalpha():
        decoded_char = chr((ord(i) - shift - ord('a')) % 26 + ord('a'))
    else:
        decoded_char = i
    decoded_text += decoded_char   
print("Encoded text :",decoded_text)

44. Find the most frequent word in a string.

In [ ]:
import re
from collections import Counter

input_string = input("Enter a string :")
cleaned_string = re.sub(r'[^\w\s]','',input_string).lower()
list_of_words = cleaned_string.split()
count_of_words = Counter(list_of_words)
most_common_word = count_of_words.most_common(1)[0][0]

print("Most frequent word in the string is :",most_common_word)

45. Find all unique words in a string.

In [ ]:
import re

input_string = input("Enter a string :")
cleaned_string = re.sub(r'[^\w\s]','',input_string).lower()
list_of_words = cleaned_string.split()
unique_words = set(list_of_words)

print("All unique words in the string are :",unique_words)

46. Count the number of syllables in a string.

In [ ]:
import re
string = input("Enter a string :")
vowels_group = re.findall(r'[aeiouy]+',string,re.IGNORECASE)
count_of_syllables = len(vowels_group)
print(f"Number of syllables present in the string is :",count_of_syllables)

47. Check if a string contains any special characters.

In [ ]:
import re

input_string = input("Enter a string :")
result = re.search(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]',input_string)
if result:
    print("The string contains special characters")
else:
    print("The string does not contain special characters")

48. Remove the nth word from a string.

In [ ]:
input_string = input("Enter a string :")
n = int(input("Enter the value of n :"))
modified_string = input_string.split()
result_string = modified_string.pop(n-1)
modified_result_string = " ".join(modified_string)
print("The string after removing the nth word is:",modified_result_string)

49. Insert a word at the nth position in a string.

In [ ]:
input_string = input("Enter a string :")
n = int(input("Enter the value of n :"))
word = input("Enter to word :")
modified_string = input_string.split()
result_string = modified_string.insert(n-1,word)
modified_result_string = " ".join(modified_string)
print("The string after inserting the nth word is:",modified_result_string)

50. Convert a CSV string to a list of lists.

In [ ]:
csv_data = "First Name,Last Name,Age\nRachel,Booker,25\nJamie,Smith,30\nCraig,Johnson,22"
list_of_string = csv_data.split("\n")
result_list = []
for i in list_of_string:
    lists = i.split(",")
    result_list.append(lists)
print(result_list)

## List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [ ]:
integers_list = list(range(1,11))
print("The list of integers from 1 to 10 is :",integers_list)

2. Find the length of a list without using the `len()` function.

In [ ]:
my_list = [1,2,3,4,5,6]
count = 0
for i in my_list:
    count += 1
print("Length of the list is :",count)

3. Append an element to the end of a list

In [ ]:
my_list = [1,2,3,4,5]
element = 6
my_list.append(element)
print("The list after appending the element is :",my_list)

4. Insert an element at a specific index in a list.

In [ ]:
my_list = [1,2,3,4,6,7,8]
index = 4
element = 5
my_list.insert(index,element)
print("The list after inserting the element is :",my_list)

5. Remove an element from a list by its value.

In [ ]:
my_list = [1,2,3,3,4,5,6,7,8]
element = 3
my_list.remove(element)
print("The list after removing the element is :", my_list)

6. Remove an element from a list by its index.

In [ ]:
my_list = [1,2,3,4,5,6,7,8]
index = 5
del my_list[index]
print("The list after removing the element is :",my_list)

7. Check if an element exists in a list.

In [ ]:
my_list = [1,2,3,4,5]
element = 4
if element in my_list:
    print("The element exists in the list")
else:
    print("The element does not exist in the list")

8. Find the index of the first occurrence of an element in a list.

In [ ]:
my_list = [1,2,3,5,4,5]
element = 5
first_occurrence = my_list.index(element)
print("The first occurrence of the element in the list is :",first_occurrence)

9. Count the occurrences of an element in a list.

In [ ]:
my_list = [1,2,3,4,3,5,6,3,7,3,8]
element = 3
count = my_list.count(element)
print("Occurrences of the element in the list is :",count)

10. Reverse the order of elements in a list.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list.reverse()
print("Reversed order list is :",my_list)

11. Sort a list in ascending order.

In [ ]:
my_list = [2,8,10,9,3,4,5,1,7,6]
my_list.sort()
print("Ascending order list is :",my_list)

12. Sort a list in descending order.

In [ ]:
my_list = [8,2,10,4,9,1,7,3,6,5]
my_list.sort(reverse = True)
print("Descending order list is :",my_list)

13. Create a list of even numbers from 1 to 20.

In [ ]:
even_list = []
for i in range(1,21):
    if i%2 == 0:
        even_list.append(i)
print("List of even numbers from 1 to 20 is :",even_list)

14. Create a list of odd numbers from 1 to 20.

In [ ]:
odd_list = []
for i in range(1,21):
    if i%2 != 0:
        odd_list.append(i)
print("List of odd numbers from 1 to 20 is :",odd_list)

15. Find the sum of all elements in a list.

In [ ]:
my_list = [1,2,3,4,5]
sum_of_elements = 0
for i in my_list:
    sum_of_elements += i
print("Sum of the elements is :",sum_of_elements)

16. Find the maximum value in a list.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
max_value = max(my_list)
print("The maximum value in the list is :",max_value)

17. Find the minimum value in a list.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
min_value = min(my_list)
print("The minimum value in the list is :",min_value)

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
list_of_squares = []
for i in range(1,11):
    list_of_squares.append(i*i)
print("The list of squares from 1 to 10 is :",list_of_squares)

19. Create a list of random numbers.

In [ ]:
import random
random_list = []
for i in range(10):
    random_list.append(random.randint(1,10))
print("List of random numbers is :",random_list)

20. Remove duplicates from a list.

In [ ]:
input_list = [1,2,3,2,4,3,5,4,5]
updated_list = set(input_list)
output_list = list(updated_list)
print("The list after removing duplicates :",output_list)

21. Find the common elements between two lists.

In [ ]:
list1 = [1,2,3,4,5,6]
list2 = [4,5,6,7,8,9]
updated_list1 = set(list1)
updated_list2 = set(list2)
output_list = list(updated_list1.intersection(updated_list2))
print("The common elements between two lists are :",output_list)

22. Find the difference between two lists.

In [ ]:
list1 = [1,2,3,4,5,6]
list2 = [4,5,6,7,8,9]
updated_list1 = set(list1)
updated_list2 = set(list2)
output_list = list(updated_list1.difference(updated_list2))
print("The difference between two lists is :",output_list)

23. Merge two lists.

In [ ]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
merged_list = list1 + list2
print("The merged list is :",merged_list)

24. Multiply all elements in a list by 2.

In [ ]:
my_list = [1,2,3,4,5]
multiplied_list = []
for i in my_list:
    i *= 2
    multiplied_list.append(i)
print("The multiplied list is :",multiplied_list)

25. Filter out all even numbers from a list.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
even_list = []
for i in my_list:
    if i%2 == 0:
        even_list.append(i)
print("The filtered list is :",even_list)

26. Convert a list of strings to a list of integers.

In [ ]:
list_of_strings = ["1","2","3","4","5","6"]
list_of_integers = []
for i in list_of_strings:
    list_of_integers.append(int(i))
print("The list of integers is :",list_of_integers)

27. Convert a list of integers to a list of strings.

In [ ]:
list_of_integers = [1, 2, 3, 4, 5, 6]
list_of_strings = []
for i in list_of_integers:
    list_of_strings.append(str(i))
print("The list of strings is :",list_of_strings)

28. Flatten a nested list.

In [ ]:
my_list = [1,2,3,4,[5,6,7],[8,9,10]]
flattened_list = []
for i in my_list:
    if isinstance(i,list):
        flattened_list.extend(i)
    else:
        flattened_list.append(i)
print("The flattened list is :",flattened_list)

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
list_of_fibonacci_numbers = [0,1]
for i in range(2,10):
    fibonacci_number = list_of_fibonacci_numbers[i-1] + list_of_fibonacci_numbers[i-2]
    list_of_fibonacci_numbers.append(fibonacci_number)
print("List of the first 10 Fibonacci numbers is :",list_of_fibonacci_numbers)

30. Check if a list is sorted.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list1 = sorted(my_list)
if my_list == my_list1:
    print("The list is sorted")
else:
    print("The list is not sorted")

31. Rotate a list to the left by `n` positions.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
n = 3
n = n % len(my_list)
rotated_list = my_list[n:]+my_list[:n]
print("The rotated list is :",rotated_list)

32. Rotate a list to the right by `n` positions.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
n = 3
n = n % len(my_list)
rotated_list = my_list[-n:]+my_list[:-n]
print("The rotated list is :",rotated_list)

33. Create a list of prime numbers up to 50.

In [ ]:
prime_list = []
for i in range(51):
    if i == 0 or i == 1:
        continue
    for j in range(2,i):
        if i % j == 0:
            break
    else:
        prime_list.append(i)
print("The list of prime numbers up to 50 is :",prime_list)

34. Split a list into chunks of size `n`.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
output_list = []
n = 2
for i in range(0,len(my_list),n):
    output_list.append(my_list[i:i+n])
print("The splitted list is :",output_list)

35. Find the second largest number in a list.

In [ ]:
my_list = [10,50,30,80,20,50,60,70]
sorted_list = sorted(set(my_list))
second_largest_number = sorted_list[-2]
print("The second largest number in the list is :",second_largest_number)

36. Replace every element in a list with its square.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
squared_list = []
for i in my_list:
    i = i*i
    squared_list.append(i)
print("The squared list is :",squared_list)

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
my_list = ["red", "blue", "green","yellow","orange","brown"]
my_dict = {}
for i,j in enumerate(my_list):
    my_dict[j] = i
print(my_dict)

38. Shuffle the elements of a list randomly.

In [ ]:
import random
my_list = [1,2,3,4,5,6,7,8,9,10]
random.shuffle(my_list)
print("The shuffled list is :",my_list)

39. Create a list of the first 10 factorial numbers.

In [ ]:
factorial_list = []
factorial = 1
for i in range(1,11):
    factorial *= i
    factorial_list.append(factorial)
    factorial = factorial
print("List of the first 10 factorial numbers is :",factorial_list)

40. Check if two lists have at least one element in common.

In [ ]:
list1 = [1,2,3,4,5]
list2 = [4,5,6,7,8]
flag = 0
for i in list1:
    if i in list2:
        flag = 1
if flag == 1:
    print("There is at least one common element present between the lists")
else:
    print("There is no common element present between the lists")

41. Remove all elements from a list.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
del my_list[:]
print("The empty list is :",my_list)

42. Replace negative numbers in a list with 0.

In [ ]:
my_list = [-5,4,-3,2,-1,0,1,-2,3,-4,5,-6,-7]
for i,j in enumerate(my_list):
    if j < 0:
        my_list[i] = 0
print("The list after replacing negative numbers with 0 is :",my_list)

43. Convert a string into a list of words.

In [ ]:
input_string = input("Enter a string :")
list_of_words = input_string.split()
print("The list of words is :",list_of_words)

44. Convert a list of words into a string.

In [ ]:
list_of_words = ["Hello,","I","am","doing","Python","Progamming"]
string = " ".join(list_of_words)
print("The converted string is :",string)

45. Create a list of the first `n` powers of 2.

In [ ]:
output_list = []
n = 10
for i in range(n):
    power = 2 ** i
    output_list.append(power)
print("The list of first",n,"powers of 2 is :",output_list)

46. Find the longest string in a list of strings.

In [ ]:
list_of_strings = ["zebra", "cobra", "stork", "penguin", "shark", "lion"]
longest_string = ""
for i in list_of_strings:
    if len(i) > len(longest_string):
        longest_string = i
print("The longest string in the list of strings is :",longest_string)

47. Find the shortest string in a list of strings.

In [ ]:
list_of_strings = ["zebra", "cobra", "stork", "penguin", "shark", "lion"]
shortest_string = list_of_strings[0]
for i in list_of_strings:
    if len(i) < len(shortest_string):
        shortest_string = i
print("The shortest string in the list of strings is :",shortest_string)

48. Create a list of the first `n` triangular numbers.

In [ ]:
list_of_triangular_numbers = []
n = 10
triangular_number = 0
for i in range(1,n+1):
    triangular_number += i
    triangular_number = triangular_number
    list_of_triangular_numbers.append(triangular_number)
print("The list of the first",n,"triangular numbers is :",list_of_triangular_numbers)

49. Check if a list contains another list as a subsequence.

In [ ]:
sequence = [1,2,3,4,5,6,7,8]
subsequence = [2,4,6]
subseq_ptr = 0
seq_ptr = 0
while seq_ptr < len(sequence) and subseq_ptr < len(subsequence):
    if subsequence[subseq_ptr] == sequence[seq_ptr]:
        subseq_ptr += 1
    seq_ptr += 1
if subseq_ptr == len(subsequence):
    print(subsequence,"is a subsequence of ",sequence)
else:
    print(subsequence,"is not a subsequence of ",sequence)

50. Swap two elements in a list by their indices.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
index1 = 3
index2 = 5
element = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = element
print("The list after swapping two elements by their indices: ", my_list)

## Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [ ]:
my_list = []
for i in range(1,6):
    my_list.append(i)
output_tuple = tuple(my_list)
print("The tuple with integers from 1 to 5 is :",output_tuple)

2. Access the third element of a tuple.

In [ ]:
my_tuple = (1,2,3,4,5)
third_element = my_tuple[2]
print("The third element of the tuple is :",third_element)

3. Find the length of a tuple without using the `len()` function.

In [ ]:
my_tuple = (2,4,6,8,10,12,14,16,18,20)
length = 0
for i in my_tuple:
    length += 1
print("Length of the tuple is :",length)

4. Count the occurrences of an element in a tuple.

In [ ]:
my_tuple = (1,4,2,3,4,5,6,7,4,8,9,10)
count = my_tuple.count(4)
print(f"The occurrences of {4} in the tuple is {count} times")

5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
my_tuple = (1,5,2,3,4,5)
element = 5
index = 0
for i,j in enumerate(my_tuple):
    if j == 5:
        index = i
        break
print(f"The first occurrence of {element} in the tuple is index {index}")

6. Check if an element exists in a tuple.

In [ ]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
element = 8
if element in my_tuple:
    print("The element exists in the tuple")
else:
    print("The element does not exist in the tuple")

7. Convert a tuple to a list.

In [ ]:
my_tuple = (1,2,3,4,5,6,7,8)
my_list = list(my_tuple)
print("The converted list from the tuple is :",my_list)

8. Convert a list to a tuple.

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8]
my_tuple = tuple(my_list)
print("The converted tuple from the list is :",my_tuple)

9. Unpack the elements of a tuple into variables.

In [ ]:
my_tuple = (1,2,3,4,5)
a,b,c,d,e = my_tuple
print("var a :", a )
print("var b :", b )
print("var c :", c )
print("var d :", d )
print("var e :", e )

10. Create a tuple of even numbers from 1 to 10.

In [ ]:
even_list = []
for i in range(1,11):
    if i%2 == 0:
        even_list.append(i)
even_tuple = tuple(even_list)
print("The tuple of even numbers from 1 to 10 is :",even_tuple)

11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
odd_list = []
for i in range(1,11):
    if i%2 != 0:
        odd_list.append(i)
odd_tuple = tuple(odd_list)
print("The tuple of odd numbers from 1 to 10 is :",odd_tuple)

12. Concatenate two tuples.

In [ ]:
tuple1 = (1,2,3,4)
tuple2 = (5,6,7,8,9,10)
concatenated_tuple = tuple1 + tuple2
print("Concatenated tuple is :",concatenated_tuple)

13. Repeat a tuple three times.

In [ ]:
my_tuple = (1,2,3,4,5)
repeated_tuple = my_tuple * 3
print("The repeated tuple is :",repeated_tuple)

14. Check if a tuple is empty.

In [ ]:
my_tuple1 = ()
my_tuple2 = (1,2,3,4,5)
if len(my_tuple1) == 0:
    print("The first tuple is empty")
else:
    print("The first tuple is not empty")
    
if len(my_tuple2) == 0:
    print("The second tuple is empty")
else:
    print("The second tuple is not empty")

15. Create a nested tuple.

In [ ]:
tuple1 = (1,2,3,4,5),
tuple2 = (6,7,8)
nested_tuple = tuple1 + tuple2
print("The nested tuple is :",nested_tuple)

16. Access the first element of a nested tuple.

In [ ]:
nested_tuple = ((1,2,3),(4,5,6),(7,8,9),10)
first_element = nested_tuple[0]
print("The first element of the nested tuple is :",first_element)

17. Create a tuple with a single element.

In [ ]:
empty_tuple = ()
element_tuple = 1,
single_element_tuple = my_tuple + element_tuple
print("The tuple with a single element is :",single_element_tuple)

18. Compare two tuples.

In [ ]:
my_tuple1 = (1,2,3,4,5)
my_tuple2 = (1,2,3,4,6)

print("First tuple is equal to second tuple :", my_tuple1 == my_tuple2)
print("First tuple is not equal to second tuple :", my_tuple1 != my_tuple2)
print("First tuple is less than second tuple :", my_tuple1 < my_tuple2)
print("First tuple is greater than second tuple :", my_tuple1 > my_tuple2)
print("First tuple is less than or equal to the second tuple :", my_tuple1 <= my_tuple2)
print("First tuple is greater than or equal to the second tuple :", my_tuple1 >= my_tuple2)

19. Delete a tuple.

In [ ]:
my_tuple = (1,2,3,4,5)
del my_tuple

20. Slice a tuple.

In [ ]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
sliced_tuple = my_tuple[4:8]
print("The sliced tuple is :",sliced_tuple)

21. Find the maximum value in a tuple.

In [ ]:
my_tuple = (2,14,6,18,10,12,4,16,8,20)
maximum_value = max(my_tuple)
print("The maximum value in the tuple is :",maximum_value)

22. Find the minimum value in a tuple.

In [ ]:
my_tuple = (2,14,6,18,10,12,4,16,8,20)
minimum_value = min(my_tuple)
print("The minimum value in the tuple is :",minimum_value)

23. Convert a string to a tuple of characters.

In [ ]:
input_string = input("Enter a string :")
tuple_of_characters = tuple(input_string)
print("The tuple of characters is :",tuple_of_characters)

24. Convert a tuple of characters to a string.

In [ ]:
tuple_of_characters = ('P','y','t','h','o','n',' ','P','r','o','g','a','m','m','i','n','g')
string = ''.join(tuple_of_characters)
print(string)

25. Create a tuple from multiple data types.

In [ ]:
my_tuple = (5,"Python",8.5,True)
print("The tuple from multiple data types is :",my_tuple)

26. Check if two tuples are identical.

In [ ]:
tuple1 = (1,2,3,4,5)
tuple2 = (1,2,3,4,5)
tuple3 = (1,2,3,4,6)

result1 = tuple1 == tuple2
result2 = tuple1 == tuple3
if result1:
    print("Tuple1 and tuple2 are identical")
else:
    print("Tuple1 and tuple2 are not identical")

if result2:
    print("Tuple1 and tuple3 are identical")
else:
    print("Tuple1 and tuple3 are not identical")

27. Sort the elements of a tuple.

In [ ]:
my_tuple = (2,8,4,10,6,3,5,9,1,7)
result = sorted(my_tuple)
sorted_tuple = tuple(result)
print("The sorted tuple is :",sorted_tuple)

28. Convert a tuple of integers to a tuple of strings.

In [ ]:
tuple_of_integers = (2,4,6,8,10,12,14,16,18,20)
my_list = list(tuple_of_integers)
list_of_strings = []
for i in my_list:
    list_of_strings.append(str(i))
tuple_of_strings = tuple(list_of_strings)
print("The tuple of strings is :",tuple_of_strings)

29. Convert a tuple of strings to a tuple of integers.

In [ ]:
tuple_of_strings = ('2','4','6','8','10','12','14','16','18','20')
my_list = list(tuple_of_strings)
list_of_integers = []
for i in my_list:
    list_of_integers.append(int(i))
tuple_of_integers = tuple(list_of_integers)
print("The tuple of integers is :",tuple_of_integers)

30. Merge two tuples.

In [ ]:
tuple1 = (1,2,3,4,5,6)
tuple2 = (7,8,9,10)
merged_tuple = tuple1 + tuple2 
print("The merged tuple is :",merged_tuple)

31. Flatten a nested tuple.

In [ ]:
nested_tuple = (1,2,3,(4,5,6),7,8,9,10)
my_list = list(nested_tuple)
flatten_list = []
for i in my_list:
    if isinstance(i,tuple):
        flatten_list.extend(i)
    else:
        flatten_list.append(i)
flatten_tuple = tuple(flatten_list)
print("The flattened tuple is :",flatten_tuple)

32. Create a tuple of the first 5 prime numbers.

In [ ]:
prime_list = []
for i in range(6):
    if i == 0 or i == 1:
        continue
    for j in range(2,i):
        if i%j == 0:
            break
    else:
        prime_list.append(i)
prime_tuple = tuple(prime_list)
print("The tuple of the first 5 prime_tuple)

33. Check if a tuple is a palindrome.

In [ ]:
my_tuple1 = (1,2,3,4,3,2,1)
my_tuple2 = (1,2,3,4,2,3,1)

result1 = my_tuple1 == my_tuple1[::-1]
result2 = my_tuple2 == my_tuple2[::-1]
if result1:
    print("The first tuple is palindrome")
else:
    print("The first tuple is not palindrome")

if result2:
    print("The second tuple is palindrome")
else:
    print("The second tuple is not palindrome")

34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
squared_list = []
for i in range(1,6):
    squared_list.append(i*i)
squared_tuple = tuple(squared_list)
print("The tuple of squares of numbers from 1 to 5  is :",squared_tuple)

35. Filter out all even numbers from a tuple.

In [ ]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
my_list = list(my_tuple)
result_list = []
for i in my_list:
    if i%2 == 0:
        result_list.append(i)
filtered_tuple = tuple(result_list)
print("The filtered tuple is :",filtered_tuple)

36. Multiply all elements in a tuple by 2.

In [ ]:
my_tuple = (1,2,3,4,5)
my_list = list(my_tuple)
result_list = []
for i in my_tuple:
    result_list.append(i*2)
multiplied_tuple = tuple(result_list)
print("The multiplied tuple is :",multiplied_tuple)

37. Create a tuple of random numbers.

In [ ]:
import random
random_list = []
for i in range(1,11):
    random_list.append(random.randint(1,50))
random_tuple = tuple(random_list)
print("The tuple of random numbers is :",random_tuple)

38. Check if a tuple is sorted.

In [ ]:
my_tuple1 = (1,2,3,4,5,6)
my_tuple2 = (2,8,3,9,5,10)
result1 = my_tuple1 == tuple(sorted(my_tuple1))
result2 = my_tuple2 == tuple(sorted(my_tuple2))
if result1:
    print("First tuple is sorted")
else:
    print("First tuple is not sorted")
    
if result2:
     print("Second tuple is sorted")
else:
    print("Second tuple is not sorted")

39. Rotate a tuple to the left by `n` positions.

In [ ]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
n = 3
n = n % len(my_tuple)
rotated_tuple = my_tuple[n:] + my_tuple[:n]
print("The rotated tuple is :",rotated_tuple)

40. Rotate a tuple to the right by `n` positions.

In [ ]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
n = 4
n = n % len(my_tuple)
rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
print("The rotated tuple is :",rotated_tuple)

41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
fibonacci_numbers = [0,1]
i = 2
while i < 5:
    next_number = fibonacci_numbers[i-1] + fibonacci_numbers[i-2]
    fibonacci_numbers.append(next_number)
    i += 1
fibonacci_tuple = tuple(fibonacci_numbers)
print("The tuple of the first 5 Fibonacci numbers is :",fibonacci_tuple)

42. Create a tuple from user input.

In [ ]:
user_input = input("Enter elements of the tuple :")
input_list = []
for i in user_input:
    input_list.append(i)
user_input_tuple = tuple(input_list)   
print("The tuple from user input is :",user_input_tuple)

43. Swap two elements in a tuple.

In [ ]:
my_tuple = (1,2,3,4,5)
swaped_list = []
element1 = 1
element2 = 4
for i in my_tuple:
    if i == element1:
        i = element2
        swaped_list.append(i)
    elif i == element2:
        i = element1
        swaped_list.append(i)
    else:
        swaped_list.append(i)
swaped_tuple = tuple(swaped_list)
print("The swapped tuple is :",swaped_tuple)

44. Reverse the elements of a tuple.

In [ ]:
my_tuple = (1,2,3,4,5,6,7,8,9,10)
reversed_tuple = my_tuple[::-1]
print("The reversed tuple is :",reversed_tuple)

45. Create a tuple of the first `n` powers of 2.

In [ ]:
n = 10
my_list = []
for i in range(n):
    my_list.append(2**i)
result_tuple = tuple(my_list)
print(f"The tuple of the first {n} powers of 2 is :",result_tuple)

46. Find the longest string in a tuple of strings.

In [ ]:
my_tuple = ("red","yellow","black","brown","green","blue")
longest_string = ""
for i in my_tuple:
    if len(i) > len(longest_string):
        longest_string = i
print("The longest string in the tuple is :",longest_string)

47. Find the shortest string in a tuple of strings.

In [ ]:
my_tuple = ("red","yellow","black","brown","green","blue")
shortest_string = my_tuple[0]
for i in my_tuple:
    if len(i) < len(shortest_string):
        shortest_string = i
print("The shortest string in the tuple is :",shortest_string)

48. Create a tuple of the first `n` triangular numbers.

In [ ]:
n = 10
result_list = []
triangular_number = 0
for i in range(1,n+1):
    triangular_number = triangular_number + i
    result_list.append(triangular_number)
    triangular_number = triangular_number
result_tuple = tuple(result_list)
print(f"The tuple of the first {n} triangular numbers is :",result_tuple)

49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
sequence_tuple = (1,2,3,4,5,6)
subsequence_tuple = (2,5,4)
seq_ptr = 0
subseq_ptr = 0
while seq_ptr < len(sequence_tuple) and subseq_ptr < len(subsequence_tuple):
    if sequence_tuple[seq_ptr] == subsequence_tuple[subseq_ptr]:
        subseq_ptr += 1
    seq_ptr += 1
if subseq_ptr == len(subsequence_tuple):
    print("The first tuple contains second tuple as a subsequence")
else:
    print("The first tuple does not contain second tuple as a subsequence")

50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
n = 10
alternating_list = []
for i in range(n):
    alternating_list.append(i%2)
alternating_tuple = tuple(alternating_list)
print(f"The tuple of alternting 1s and 0s of length {n} is :", alternating_tuple)

## Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [ ]:
my_set = set()
for i in range(1,6):
    my_set.add(i)
print("The set with integers from 1 to 5 is :",my_set)

2. Add an element to a set.

In [ ]:
my_set = {1,2,3,4}
element = 5
my_set.add(element)
print("The set after adding the element is :",my_set)

3. Remove an element from a set.

In [ ]:
my_set = {1,2,3,4,5}
element = 3
my_set.remove(element)
print("The set after removing the element is :",my_set)

4. Check if an element exists in a set.

In [ ]:
my_set = {1,2,3,4,5}
element = 1
if element in my_set:
    print("The element exists in the set")
else:
    print("The element does not exist in the set")

5. Find the length of a set without using the `len()` function.

In [ ]:
my_set = {1,2,3,4,5,6,7,8,9,10}
length = 0
for i in my_set:
    length += 1
print("The length of the set is :",length)

6. Clear all elements from a set.

In [ ]:
my_set = {1,2,3,4,5}
my_set.clear()
print("The set after clearing all the elements is :",my_set)

7. Create a set of even numbers from 1 to 10.

In [ ]:
even_set = set()
for i in range(1,11):
    if i%2 == 0:
        even_set.add(i)
print("The set of even numbers from 1 to 10 is :",even_set)

8. Create a set of odd numbers from 1 to 10.

In [ ]:
odd_set = set()
for i in range(1,11):
    if i%2 != 0:
        odd_set.add(i)
print("The set of odd numbers from 1 to 10 is :",odd_set)

9. Find the union of two sets.

In [ ]:
my_set1 = {1,2,3,4,5,6,7}
my_set2 = {4,5,6,7,8,9,10}
result = my_set1.union(my_set2)
print("The union of two sets :",result)

10. Find the intersection of two sets.

In [ ]:
my_set1 = {1,2,3,4,5,6,7}
my_set2 = {4,5,6,7,8,9,10}
result = my_set1.intersection(my_set2)
print("The intersection of two sets :",result)

11. Find the difference between two sets.

In [ ]:
my_set1 = {1,2,3,4,5,6,7}
my_set2 = {4,5,6,7,8,9,10}
result = my_set1.difference(my_set2)
print("The difference between two sets :",result)

12. Check if a set is a subset of another set.

In [ ]:
my_set1 = {1,2,3,4,5}
my_set2 = {1,2,3,4,5,6,7,8,9,10}
result = my_set1.issubset(my_set2)
if result:
    print("The first set is a subset of the second set")
else:
    print("The first set is not a subset of the second set")

13. Check if a set is a superset of another set.

In [ ]:
my_set1 = {1,2,3,4,5,6}
my_set2 = {1,2,3,4}
result = my_set1.issuperset(my_set2)
if result:
    print("The first set is a superset of the second set")
else:
    print("The first set is not a superset of the second set")

14. Create a set from a list.

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9,10]
my_set = set(my_list)
print("The set from the list is :",my_set)

15. Convert a set to a list.

In [ ]:
my_set = {1,2,3,4,5,6,7,8,9,10}
my_list = list(my_set)
print("The converted list from the set is :",my_list)

16. Remove a random element from a set.

In [ ]:
import random
my_set = {2,4,6,8,10,12,14,16,18,20}
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print(f"The set after removing the random element({random_element}) is :",my_set)

17. Pop an element from a set.

In [ ]:
my_set = {2,4,9,7,5,3,6,8,1,10}
my_set.pop()
print(f"The set after popping an element is :", my_set)

18. Check if two sets have no elements in common.

In [ ]:
my_set1 = {1,2,3,4,5,6}
my_set2 = {6,7,8,9,10,12}
result = my_set1.intersection(my_set2)
if result:
    print("The first set and the second set have elements in common")
else:
    print("The first set and the second set have no elements in common")

19. Find the symmetric difference between two sets.

In [ ]:
my_set1 = {1,2,3,4,5,6}
my_set2 = {5,6,7,8,9,10}
symmetric_difference = my_set1.symmetric_difference(my_set2)
print("The symmetric difference between two sets is :",symmetric_difference)

20. Update a set with elements from another set.

In [ ]:
my_set1 = {1,2,3,4,5,6,7}
my_set2 = {8,9,10}
my_set1.update(my_set2)
print("The first set after updating is :",my_set1)

21. Create a set of the first 5 prime numbers.

In [ ]:
prime_set = set()
for i in range(2,20):
    for j in range(2,i):
        if i%j == 0:
            break
        else:
            if len(prime_set) > 4:
                break
            prime_set.add(i)
print(prime_set)

22. Check if two sets are identical.

In [ ]:
my_set1 = {1,2,3,4,5}
my_set2 = {1,2,3,4,6}
if my_set1 == my_set2:
    print("The first set and the second set are identical")
else:
    print("The first set and the second set are not identical")

23. Create a frozen set.

In [ ]:
elements = [1,2,3,4,5,6,7,8,9,10]
frozen_set = frozenset(elements)
print("The frozen set is :",frozen_set)

24. Check if a set is disjoint with another set.

In [ ]:
my_set1 = {1,2,3,4,5}
my_set2 = {6,7,8,9,10}
result = my_set1.isdisjoint(my_set2)
if result:
    print("The two sets are disjoint")
else:
    print("The two sets are not disjoint")

25. Create a set of squares of numbers from 1 to 5.

In [ ]:
my_set = set()
for i in range(1,6):
    my_set.add(i*i)
print("The set of squares of numbers from 1 to 5 is :",my_set)

26. Filter out all even numbers from a set.

In [ ]:
my_set = {1,2,3,4,5,6,7,8,9,10}
even_set = set()
for i in my_set:
    if i%2 == 0:
        even_set.add(i)
print("The set after filtering out all even numbers is :",even_set)

27. Multiply all elements in a set by 2.

In [ ]:
my_set = {1,2,3,4,5}
multiplied_set = set()
for i in my_set:
    multiplied_set.add(i*2)
print("The set after multiplying all elements by 2 is :", multiplied_set)

28. Create a set of random numbers.

In [ ]:
import random
my_set = set()
for i in range(1,11):
    my_set.add(random.randint(1,50))
print("The set of random numbers is :",my_set)

29. Check if a set is empty.

In [ ]:
my_set1 = set()
my_set2 = {1,2,3,4,5}
result1 = len(my_set1) == 0
result2 = len(my_set2) == 0
if result1:
    print("The first set is empty")
else:
    print("The first set is not empty")
    
if result2:
    print("The second set is empty")
else:
    print("The second set is not empty")

30. Create a nested set (hint: use frozenset).

In [ ]:
my_set1 = {1,2,3,4,5}
my_set2 = {6,7,8,9,10}
frozenset1 = frozenset(my_set1)
frozenset2 = frozenset(my_set2)
nested_set = {frozenset1,frozenset2}
print("The nested set is :",nested_set)

31. Remove an element from a set using the discard method.

In [ ]:
my_set = {2,9,3,10,4,6,8,1,7,5}
element = 10
my_set.discard(element)
print(f"The set after removing the element({element}) is :", my_set)

32. Compare two sets.

In [ ]:
my_set1 = {1,2,3,4,5}
my_set2 = {4,5,6,7,8}
subset = my_set1.issubset(my_set2)
superset = my_set1.issuperset(my_set2)
union = my_set1.union(my_set2)
intersection = my_set1.intersection(my_set2)
difference1 = my_set1.difference(my_set2)
difference2 = my_set2.difference(my_set1)
if subset:
    print("The first set is a subset of the second set")
else:
    print("The first set is not a subset of the second set")
if superset:
    print("The first set is a superset of the second set")
else:
    print("The first set is not a superset of the second set")
print("Union of the two sets is :",union)
print("Intersection of the two sets is :",intersection)
print("Elements which are in the first set but not in the second set is :",difference1)
print("Elements which are in the second set but not in the first set is :",difference2)

33. Create a set from a string.

In [ ]:
my_string = "python"
my_set = set(my_string)
print("The set from the string is :",my_set)

34. Convert a set of strings to a set of integers.

In [ ]:
set_of_strings = {'1','2','3','4','5'}
set_of_integers = set()
for i in set_of_strings:
    set_of_integers.add(int(i))
print("The set of integers is :",set_of_integers)

35. Convert a set of integers to a set of strings.

In [ ]:
set_of_integers = {1, 2, 3, 4, 5}
set_of_strings = set()
for i in set_of_integers:
    set_of_strings.add(str(i))
print("The set of strings is :",set_of_strings)

36. Create a set from a tuple.

In [ ]:
my_tuple = (1,2,3,4,5)
my_set = set(my_tuple)
print("The set from the tuple is :",my_set)

37. Convert a set to a tuple.

In [ ]:
my_set = {1,2,3,4,5}
my_tuple = tuple(my_set)
print("The tuple from the set is :",my_tuple)

38. Find the maximum value in a set.

In [ ]:
my_set = {2,4,10,8,9,5,1,6,7,3}
max_value = max(my_set)
print("The maximum value in the set is :",max_value)

39. Find the minimum value in a set.

In [ ]:
my_set = {2,4,10,8,9,5,1,6,7,3}
min_value = min(my_set)
print("The minimum value in the set is :",min_value)

40. Create a set from user input.

In [ ]:
input_elements = input("Enter the elements of the set seperated by space:")
modified_elements = input_elements.split(" ")
result_set = set()
for i in modified_elements:
    result_set.add(i)
print("The set from user input is :",result_set)

41. Check if the intersection of two sets is empty.

In [ ]:
my_set1 = {1,2,3,4,5}
my_set2 = {6,7,8,9,10}
result = my_set1.intersection(my_set2)
if result:
    print("The intersection of two sets is not empty")
else:
    print("The intersection of two sets is empty")

42. Create a set of the first 5 Fibonacci numbers.

In [ ]:
fibonacci_set = set()
a,b = 0,1
for i in range(6):
        fibonacci_set.add(a)
        a ,b = b, a+b
print(fibonacci_set)

43. Remove duplicates from a list using sets.

In [ ]:
my_list = [2,4,5,2,3,1,5,3,4,1]
result_set = set(my_list)
print("The set after removing duplicates from the list is :",result_set)

44. Check if two sets have the same elements, regardless of their count.

In [ ]:
my_set1 = {1,4,6,8,9,10,5,3,7,2,2,3,5,8,9}
my_set2 = {8,2,10,3,6,4,7,1,5,9}
result = sorted(list(my_set1)) == sorted(list(my_set2))
if result:
    print("Two sets have the same elements")
else:
    print("Two sets do not have the same elements")

45. Create a set of the first `n` powers of 2.

In [ ]:
n = 5
result_set = set()
for i in range(n):
    result_set.add(2**i)
print(f"The set of the first {n} powers of 2 is :", result_set)

46. Find the common elements between a set and a list.

In [ ]:
my_set = {1,2,3,4,5,6}
my_list = [4,5,6,7,8,9]
modified_list = set(my_list)
common_elements = my_set.intersection(modified_list)
print("The common elements between the set and the list are :",common_elements)

47. Create a set of the first `n` triangular numbers.

In [ ]:
n = 5
triangular_set = set()
triangular_number = 0
for i in range(1,n+1):
    triangular_number += i
    triangular_set.add(triangular_number)
print(f"The set of the first {n} triangular numbers is :",triangular_set)

48. Check if a set contains another set as a subset.

In [ ]:
my_set1 = {1,2,3,4,5,6,7,8,9,10}
my_set2 = {3,4,5}
result = my_set2.issubset(my_set1)
if result:
    print("The second set is a subset of the first set")
else:
    print("The second set is not a subset of the first set")

49. Create a set of alternating 1s and 0s of length `n`.

In [ ]:
n = 10
alternating_set = set()
for i in range(n):
    if i%2 != 0:
        alternating_set.add(0)
    else:
        alternating_set.add(1)
print(alternating_set)

50. Merge multiple sets into one.

In [ ]:
my_set1 = {1,2,3,4}
my_set2 = {3,4,5,6}
my_set2 = {5,6,7,8}
result_set = my_set1.union(my_set2,my_set2)
print("The merged set is :",result_set)